<div id="<%= dom_id inventory %>">
  <p>
    <strong>Type inventory:</strong>
    <%= inventory.type_inventory_id %>
  </p>

  <p>
    <strong>Type machine:</strong>
    <%= inventory.type_machine %>
  </p>

  <p>
    <strong>Muscle group:</strong>
    <%= inventory.muscle_group %>
  </p>

  <p>
    <strong>Date purchase:</strong>
    <%= inventory.date_purchase %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= inventory.cost %>
  </p>

</div>
