<div id="<%= dom_id person %>">
  <p>
    <strong>Gym:</strong>
    <%= person.gym_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Lastname one:</strong>
    <%= person.lastname_one %>
  </p>

  <p>
    <strong>Lastname two:</strong>
    <%= person.lastname_two %>
  </p>

  <p>
    <strong>Type document:</strong>
    <%= person.type_document %>
  </p>

  <p>
    <strong>Num document:</strong>
    <%= person.num_document %>
  </p>

  <p>
    <strong>Date birth:</strong>
    <%= person.date_birth %>
  </p>

  <p>
    <strong>Date entry:</strong>
    <%= person.date_entry %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

</div>
