<div id="<%= dom_id invoice %>">
  <p>
    <strong>Invoice:</strong>
    <%= invoice.invoice_id_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= invoice.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= invoice.date %>
  </p>

  <p>
    <strong>Details:</strong>
    <%= invoice.details %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= invoice.type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= invoice.value %>
  </p>

</div>
