<div id="<%= dom_id plan %>">
  <p>
    <strong>Gym:</strong>
    <%= plan.gym_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= plan.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= plan.end_date %>
  </p>

</div>
